@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
}

/* ************************************************************** */
/*                        Navbar Styling                          */
/* ************************************************************** */
.brand-font {
    font-size: 1.25rem;
    font-weight: 600 !important;
    color: white !important;
    padding: 0px 15px !important;
}

.navbar, .dropdown-item {
    background-color: #0254a6;
}

.contact-brand {
    width: 376px !important;
    font-size: .5em;
}

.fa-brand {
    color: #8DC53D !important;
    padding-right: 10px !important;
}

#navbar-logo {
    width: 376px;
    height: 110px;
}


.dropdown-item {
    font-weight: bold;
}

.dropdown-item:hover {
    background-color: #0d6efd !important;
}

.nav-link:hover {
    color: #8ec53e !important;
}



/* ************************************************************** */
/*                        Hero Slide Style                        */
/* ************************************************************** */


.carousel-item {
    height: 35em;
    width: 100%;
    background:lightslategrey;
}

.slider-img1 {
    position: absolute;
    margin-top: -450px;
}

.slider-img2 {
    position: absolute;
    margin-top: -100px;
}

.slider-img3 {
    position: absolute;
    margin-top: -450px;
}

.slider-img4 {
    position: absolute;
    margin-top: -600px;
}

.slider-img5 {
    position: absolute;
    margin-top: -250px;
}

.slider-img6 {
    position: absolute;
    margin-top: -550px;
}

.hero-container {
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 70%;
    height: 100%;
}


.overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    left: 0;
    top: 0;
    height: 100%;
    width: 100%
  }

  .hero-call {
    font-weight: 900;
    font-size: 2em;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 0px 5px 5px #000000;
  }


/* ************************************************************** */
/*                  Emergency Services Animation                  */
/* ************************************************************** */

  .emerg-serv {
    position: absolute;
    z-index: 11;
    animation-name: entering-right;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }

  @keyframes entering-right {
    0%   {opacity: 0; right:-50px; bottom:20px;}
    100% {opacity: 100%; right:200px; bottom:20px;}
  }

/* ************************************************************** */
/*                      TESTIMONIALS STYLES                       */
/* ************************************************************** */

.tmn-title,
.ours-title {
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: 3.5px;
    text-shadow: 0px 5px 10px rgb(0 0 0 / 30%);
    color: #0154A6;
}

.tmn-main {
    font-size: 1.3em;
    font-style: italic;
    line-height: 1.5;
    padding: 0 100px;
    text-align: center;
}

.tmn-client {
    color: #0154A6;
    font-size: 1.5em;
    font-weight: 700;
}

.tmn-locat {
    color: #8DC53D;
    font-weight: 700;
    letter-spacing: 2.5px;
}

.carousel-tmn-item, .carouseltmn {
    height: 300px;
    padding: 50px 10px;
    background-color: rgb(255, 255, 255) !important;
}

.carousel-control-prev, .carousel-control-next {
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

.tmn-callus {
    text-align: center;
    color: #0154A6;
    font-size: 2.5em;
    font-weight: 700;
    letter-spacing: 3.5px;
    margin-bottom: 80px;
}

.tmn-callus img {
    height: 1em;
    padding-right: 10px;
}

/* ************************************************************** */
/*                         ROOF CONTRACTORS                       */
/* ************************************************************** */

.roofcont {
    background-color: transparent;
    background-image: linear-gradient(180deg, #0154A6 46%, #8DC53D 100%);
    padding: 50px 0;
    
}

.roofcont-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.roofcont-first-title {
    color: #FFFFFF;
    background-color: #0154A6;
    font-family: "Open Sans", Sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    border-style: solid;
    padding: 10px 20px 10px 20px;
    text-shadow: 0px 0px 5px rgb(0 0 0 / 30%);
}

.roofcont-second-title {
    display: inline-block;
    color: #FFFFFF;
    font-family: "Open Sans", Sans-serif;
    font-weight: 700;
    padding-left: 10px;
}

.roofcont-middle-text {
    color: #FFFFFF;
    text-align: center;
    padding: 0 220px;
}

.roofcont-after-text {
    font-family: "Open Sans", Sans-serif;
    font-size: 1.4em;
    font-weight: 900;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: 3.5px;
    text-shadow: 0px 5px 5px rgb(0 0 0 / 30%);
    color: #FFFFFF;
}


.roofcont-half-div {
    position: relative;
    background-color: #8DC53D;
    
}

.roofcont-third-title {
    display: inline-block;
    color: #FFFFFF;
    background-color: #8DC53D;
    font-family: "Open Sans", Sans-serif;
    font-weight: 900;
    letter-spacing: 1.5px;
    border-style: solid;
    padding: 10px 10px 10px 10px;
    text-shadow: 0px 5px 5px rgb(0 0 0 / 30%);   
}

.roofcont-fourth-title {
    display: inline-block;
    color: #FFFFFF;
    background-color: #000000;
    font-family: "Poppins", Sans-serif;
    font-weight: 900;
    letter-spacing: 1.5px;
    border-style: solid;
    padding: 10px 10px 10px 10px;
    text-shadow: 0px 5px 5px rgb(0 0 0 / 30%);
    margin-left: 10px;
}

.roof-half {
    text-align:center;
}

.roofcont-title2 {
    margin-bottom: -30px;
}

.roofcont-bottom {
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.pilula-link {
    text-decoration: none;
    font-family: "Open Sans", Sans-serif;
    color: #FFFFFF;
}

.pilula-link:hover {
    color: #FFFFFF;
}

.pilula-titulo {
    position: relative;
    margin: 0px 0px 0px 0px;
    padding: 10px 10px 10px 10px;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #FFFFFF;
    border-radius: 50px 50px 50px 50px;
    font-size: 1.3em;
    font-weight: 600;
    z-index: 1;
    max-width: 450px;
    min-width: 400px;
    
}

.pilula-titulo::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left:0;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
    transition: transform 300ms ease-in;
    transform: scaleX(0);
    transform-origin: left;
}

.pilula-titulo:hover::after {
    transform: scaleX(1);
}

.pilula1 {
    background-color: #61CE70;
}

.pilula2 {
    background-color: #8DC53D;
}

.pilula3 {
    background-color: #0154A6;
}


/* ************************************************************** */
/*                              Why Us?                           */
/* ************************************************************** */



.whyus-main {
    background-image: url('../images/why-us-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100%;
}




.whyus-title h2 {
    font-family: "Open Sans", Sans-serif;
    color:#FFFFFF;
    font-size: 3em;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 0px 5px 5px #000000;
    text-align: center;
    padding: 30px 0 10px 0;
}


.whyus-block-container {
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    color: #FFFFFF;
    padding-bottom: 50px;
}

.whyus-block {
    max-width: 400px;
    min-width: 250px;
    padding: 10px 10px;
    margin: 0.5px;
    display: block;
    position: relative;
    z-index: 1;
}


.whyus-block::after{
    content: "";
    display: block;
    width: 100%;
    min-width: 150px;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    
}


.icon-top {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    color: #8DC53D;
    font-size: 1.8em;
    margin-top: 12px;
    margin-left: -1px;
}

.circle {
    border-style: solid;
    display: inline-block;
    border-radius: 50%;
    height: 3.5em;
    width: 3.5em;
    margin-bottom: 50px;
    border-color: #8DC53D;
}

.block-title h3 {
    text-align: center;
    font-family: "Open Sans", Sans-serif;
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 2.5px;
}

.block-text {
    margin-top: 20px;
}



/* ************************************************************** */
/*                              Our Services                      */
/* ************************************************************** */


.cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}


.card {
    min-width: 353px;
    margin: 0 30px;
}



.card-body {
    text-align: center;
    padding-bottom: 30px;

}

.card-body a {
    text-decoration: none;
    
}

.card-title {
    font-family: "Open Sans", Sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #0254a6;
    text-align: center;
}

.card-text {
    margin: 30px 0;
    min-height: 120px;
}

.card-link {
    background-color:#8DC53D;    
    font-weight: 500;
    padding: 10px 4px;
    margin: 0 50px;
    color: #FFFFFF !important;
    border-radius: 5px;
}


.card-link:hover {
    background-color:#0254a6;
    color: #FFFFFF !important;
    animation: moveup 400ms ease-in-out forwards;
}

@keyframes moveup {
    0% {transform:translateY(0px);}
    100% {transform:translateY(-10px);}
}


.contactus-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 50px 0;
}

.contactus-container a {
    text-decoration: none;
}


.contactus-link {
    text-align: center;
    background-color:#8DC53D;    
    font-weight: 500;
    padding: 10px 4px;
    width: 250px;
    margin: 0 50px;
    color: #FFFFFF !important;
    border-radius: 50px;
}


.contactus-link:hover {
    background-color:#0254a6;
    color: #FFFFFF !important;
    animation: moveup 400ms ease-in-out forwards;
}


/* ************************************************************** */
/*                             Map Area                           */
/* ************************************************************** */



.map-area {
    width: 100%;
    height: 400px;
    border: none;
}



/* ************************************************************** */
/*                             Footer                             */
/* ************************************************************** */









/* ************************************************************** */
/*                           MEDIA QUERIES                        */
/* ************************************************************** */

@media screen and (max-width: 1550px) {
    .slider-img1 {
        position: absolute;
        margin-top: -350px;
    }
    
    .slider-img2 {
        position: absolute;
        margin-top: -80px;
    }
    
    .slider-img3 {
        position: absolute;
        margin-top: -350px;
    }
    
    .slider-img4 {
        position: absolute;
        margin-top: -350px;
    }
    
    .slider-img5 {
        position: absolute;
        margin-top: -150px;
    }
    
    .slider-img6 {
        position: absolute;
        margin-top: -350px;
    }

}

@media screen and (max-width: 1415px) {
    .navbar, .dropdown-item {
        font-size: 0.8em;
    }

    .whyus-block {
        max-width: 350px;
        min-width: 250px;
    }

    .card {
        min-width: 250px;
        margin: 0 20px;
    }
}


@media screen and (max-width: 1240px) {
    .slider-img1 {
        position: absolute;
        margin-top: -250px;
    }
    
    .slider-img2 {
        position: absolute;
        margin-top: -50px;
    }
    
    .slider-img3 {
        position: absolute;
        margin-top: -250px;
    }
    
    .slider-img4 {
        position: absolute;
        margin-top: -250px;
    }
    
    .slider-img5 {
        position: absolute;
        margin-top: -80px;
    }
    
    .slider-img6 {
        position: absolute;
        margin-top: -250px;
    }

    .navbar, .dropdown-item {
        font-size: 0.6em;
    }

    .tmn-callus {
        font-size: 2em;
    }

    .whyus-block {
        max-width: 300px;
        min-width: 250px;
    }

    .card {
        min-width: 200px;
        margin: 0 5px;
    }

    .card-text {
        min-height: 170px;
    }

    .card-title {
        min-height: 48px;
    }

}

@media screen and (max-width: 1085px) {
    .slider-img1 {
        position: absolute;
        margin-top: -150px;
    }
    
    .slider-img2 {
        position: absolute;
        margin-top: -30px;
    }
    
    .slider-img3 {
        position: absolute;
        margin-top: -150px;
    }
    
    .slider-img4 {
        position: absolute;
        margin-top: -150px;
    }
    
    .slider-img5 {
        position: absolute;
        margin-top: -50px;
    }
    
    .slider-img6 {
        position: absolute;
        margin-top: -150px;
    }

    .navbar, .dropdown-item {
        font-size: 0.6em;
    }

    .tmn-main {
        font-size: 1em;
        padding: 0 50px;
        text-align: center;
    }
    
    .tmn-client {
        color: #0154A6;
        font-size: 1.2em;
        font-weight: 700;
    }
        
    .carousel-tmn-item, .carouseltmn {
        padding: 50px 10px;
    }

    .tmn-callus {
        font-size: 1.5em;
    }

    .roofcont-middle-text {
        padding: 0 100px;
    }

    .whyus-block {
        max-width: 230px;
        min-width: 200px;
    }

}


@media screen and (max-width: 990px) {
    .card {
        min-width: 485px;
    }

    .card-text {
        min-height: 100px;
    }

    .card-title {
        min-height: auto;
    }

}


@media screen and (max-width: 960px) {
    .slider-img1 {
        position: absolute;
        margin-top: -50px;
    }
    
    .slider-img2 {
        position: absolute;
        margin-top: 0;
    }
    
    .slider-img3 {
        position: absolute;
        margin-top: -50px;
    }
    
    .slider-img4 {
        position: absolute;
        margin-top: -50px;
    }
    
    .slider-img5 {
        position: absolute;
        margin-top: 0;
    }
    
    .slider-img6 {
        position: absolute;
        margin-top: -50px;
    }

}

@media screen and (max-width: 850px) {
    .slider-img1 {
        position: absolute;
        margin-top: 0;
    }
    
    .slider-img2 {
        position: absolute;
        margin-top: 0;
    }
    
    .slider-img3 {
        position: absolute;
        margin-top: 0;
    }
    
    .slider-img4 {
        position: absolute;
        margin-top: 0;
    }
    
    .slider-img5 {
        position: absolute;
        margin-top: 0;
    }
    
    .slider-img6 {
        position: absolute;
        margin-top: 0;
    }

    .tmn-main {
        font-size: .9em;
        padding: 0 30px;
        text-align: center;
    }
    
    .tmn-client {
        font-size: 1em;
    }
        
    .carousel-tmn-item, .carouseltmn {
        padding: 50px 0;
    }

    .tmn-callus {
        font-size: 1em;
    }

    .roofcont-middle-text {
        padding: 0 50px;
    }

    .roofcont-title, 
    .roofcont-after-text {
        font-size: 1.2em;
    }

    .roofcont-title2 {
        font-size: 1.2em;
        margin-bottom: -25px;
    }
    
    .pilula-titulo {
        font-size: 1.1em;
        min-width: 350px;
    }

    .whyus-title {
        font-size: 0.9em
    }


    .whyus-block {
        max-width: 600px;
        min-width: 250px;
    }

}

@media screen and (max-width: 755px) {
    
    .carousel-item {
        height: 30em;
    }

    .hero-call {
        font-size: 1.5em;
    }

    .emerg-serv {
        text-align: end;
    }


    .emerg-serv img {
        width: 65%;
    }

    .tmn-main {
        font-size: .9em;
        padding-bottom: 20px;
    }
    
    .tmn-client {
        font-size: 1em;
    }
        
    .carousel-tmn-item, .carouseltmn {
        height: 300px;
        padding: 50px 0;
    }

}

@media screen and (max-width: 650px) {
    
    .carousel-item {
        height: 25em;
    }

    #navbar-logo {
        width: 274px;
        height: auto;
        text-align: left !important;
    }

    .contact-brand {
        font-size: 1em;
        text-align: left !important;
    }

    .brand-font {
        font-size: 1.2em;
        margin-left: 10px;
    }
    
    .carousel-tmn-item, .carouseltmn {
        height: 320px;
        padding: 50px 0;
    }
    
}

@media screen and (max-width: 550px) {
    
    .carousel-item {
        height: 20em;
    }

    .brand-container {
        width: 250px;
    }

    #navbar-logo, .contact-brand {
        width: 230px;
        height: auto;
        text-align: left !important;
    }

    .brand-font {
        font-size: 1em;
        margin-left: 0;
    }
    
    .hero-call {
        font-size: 1em;
    }

    .emerg-serv {
        text-align: end;
    }


    .emerg-serv img {
        width: 50%;
    }

    .roofcont-title, 
    .roofcont-after-text {
        font-size: 1em;
    }

    .roofcont-middle-text {
        font-size: 0.9em;
    }

    .roofcont-title2 {
        font-size: 1em;
        margin-bottom: -25px;
    }
    
    .pilula-titulo {
        font-size: 0.9em;
        min-width: 250px;
    }

    .card {
        min-width: auto;
    }

    .card-text {
        min-height: 100px;
    }

    .card-title {
        min-height: auto;
    }

}

@media screen and (max-width: 440px) {
    
    .carousel-item {
        height: 16em;
    }

    .hero-call {
        font-size: .8em;
    }
    
    .carousel-tmn-item, .carouseltmn {
        height: 320px;
        padding: 20px 0;
    }

    .roofcont-title, 
    .roofcont-after-text {
        font-size: 0.9em;
    }

    .roofcont-middle-text {
        font-size: 0.8em;
    }

    .roofcont-title2 {
        font-size: 0.9em;
        margin-bottom: -25px;
    }
    
    .pilula-titulo {
        font-size: 0.8em;
        min-width: 250px;
    }
}

@media screen and (max-width: 350px) {
    
    .carousel-item {
        height: 14em;
    }

    .brand-container {
        width: 200px;
    }

    #navbar-logo, .contact-brand {
        width: 190px;
        height: auto;
        text-align: left !important;
    }

    .brand-font {
        font-size: .8em;
        margin-left: 0;
    }

    .hero-call {
        font-size: .8em;
    }

    .carousel-tmn-item, .carouseltmn {
        height: 320px;
        padding: 0;
    }
    .roofcont-title, 
    .roofcont-after-text {
        font-size: 0.8em;
    }

    .roofcont-middle-text {
        font-size: 0.8em;
    }

    .roofcont-title2 {
        font-size: 0.8em;
        margin-bottom: -25px;
    }
    
    .pilula-titulo {
        font-size: 0.8em;
        min-width: 250px;
    }
       
}